body{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#main{
    border: 1.8mm solid black;
    height: 225mm;
    width: 100mm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: beige;
}
#main div {
  border-radius: 50%;
  height: 60mm;
  width: 60mm;
  overflow: hidden;
  border:1mm solid black;
}

#main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
fieldset{
    border: 1mm solid black;
}